{% extends 'shared/base.html' %}

{% block site_title %}
    Pleasures of Night City | Profile info details
{% endblock %}

{% block site_content %}
    {% if user.is_authenticated and user.id == userprofile.user.id %}
        <h1>Profile Info details</h1>

        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-dark">Post</button>
            </form>
        </div>
    {% else %}
        <h2>You dont have permissions to edit this profile</h2>
    {% endif %}


{% endblock %}