body {
    background-color: #000;
}

#custom-body {
    background: #fcee0a;
    min-height: 94vh;
}

/*Media*/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}