body {
    background-color: #d0c729;
}

#custom-body {
    background: #fffee7;
    min-height: 88vh;
}
.custom-container-width {
    max-width: 1020px;
}

/*Media*/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}