{% extends 'shared/base.html' %}
{% load static %}
{% block site_title %}
    Pleasures of Night City | {{ post.title }}
{% endblock %}

{% block site_content %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.author }}</h3>
    <small>{{ post.date_published }}</small>
    <p>{{ post.body|safe }}</p>
    {% if post.author.userprofile.short_bio %}
        <p>{{ post.author.userprofile.short_bio }}</p>
    {% endif %}

    <a href="{% url 'profile page' post.author.pk %}">Author profile page</a>

    {% if post.author.userprofile.profile_picture %}
        <img src="{{ post.author.userprofile.profile_picture.url }}">
    {% else %}
        <img src="{% static 'images/no_profile_pic.jpg' %}">
    {% endif %}

    {% if user.id == post.author.id %}
        <a href="{% url 'edit post' post.pk %}" class="btn btn-dark">Edit post</a>
        <a href="{% url 'delete post' post.pk %}" class="btn btn-danger">Delete post</a>
    {% endif %}
    {% if user.is_authenticated %}
        {% if has_liked %}
            <form action="{% url 'like post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
            </form>
        {% else %}
            <form action="{% url 'like post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
            </form>
        {% endif %}
    {% endif %}

    <p>{{ total_likes }} Likes</p>

{% endblock %}