{% extends 'shared/base.html' %}

{% block site_title %}
    Pleasures of Night City | Edit Post
{% endblock %}

{% block site_content %}
    {% if user.is_authenticated and user.id == post.author.id%}
    <h1>Edit post</h1>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark">Update</button>
        </form>
    </div>
    {% else %}
        <h2>You dont have permissions to edit this post</h2>
    {% endif %}
{% endblock %}