{% extends 'shared/base.html' %}

{% block site_title %}
    Pleasures of Night City | Create Post
{% endblock %}

{% block site_content %}
    {% if user.is_authenticated %}
    <h1>Create new post</h1>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark">Post</button>
        </form>
    </div>
    {% else %}
        <h2 class="text-center">You dont have permissions to create new post</h2>
    {% endif %}

{% endblock %}